body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.body-background-2 {
  background-color: #8996a6;
}

.body-background-3 {
  background-color: #9d8b84;
}


/*body > * {
  background-color:rgba(255, 0, 0, 0.3);
}
body > * > * {
  background-color:rgba(255, 255, 0, 0.3);
}
body > * > * > * {
  background-color:rgba(0, 17, 255, 0.3);
}*/

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.site-nav li:first-child {
  position: relative;
}

.site-nav a:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
}


.site-nav__sub-menu {
  display: none;
  position: absolute;
  width: 143px;
  font-size: 14px;
  line-height:  16px;
  text-align: left;
  color: #323232;
  padding: 10px 0px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  box-sizing: border-box;
  text-indent: 15px;
  top: 30px;
  left: -7px;
}

.site-nav__sub-menu li {
  list-style: none;
}

.sub-menu__border::after {
  content: "";
  display: block;
  position: absolute;
  width: 128px;
  height: 1px;
  background-color: #32323227;
  top: 25px;
  left: 6px;
}

.site-nav__sub-menu li:first-child {
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 5px;
}

.site-nav__sub-menu a {
  display: block;
  padding: 7px 5px;
  font-weight: 400;
  color: #323232;
}

.site-nav__sub-menu a:hover {
  background-color: #fbded8d8;
  box-shadow: 0;
}

.site-nav__sub-menu a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.site-nav li:hover>ul{
  display: block;
}

.modal {
  position: absolute;
  z-index: 5;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-header__logo {
  width: 154px;
  height: 64px;
}

.main-nav {
  font-weight: bold;
  line-height: 18px;
}

.site-nav,
.user-nav {
  list-style: none;
  font-size: 14px;
}


.pink-hover:hover,
.pink-hover:focus {
  color: #ffbc9e;      
}

.site-nav  .main-header__link {
  padding: 7px 12px;  
  border-radius: 20px;
}


.main-header__link:hover,
.main-header__link:focus {
  color: #323232;
  background-color: #f7f6f3;
}

/* подчеркивание ссылок */

.site-nav li,
.breadcrumbs li {
  position: relative;
}

.link-border::after {
  content: "";
  position: absolute;
  width: calc(100% - 24px);
  height: 0.5px;
  background-color: #f8f7f4;
  bottom: 0;
  left: 12px;
}

.breadcrumbs__link-border::after {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: 0.5px;
  background-color: #f8f7f4;
  bottom: 0;
  left: 0;
}




.about-shop {
  position: relative;
  width: 1146px;
  margin-bottom: 40px;
  padding: 25px 20px;
  box-sizing: border-box;
  color: #323232;
  background-color: #ece0c5;
  background-image: url("../img/wafer.jpg");
  background-repeat: repeat;
  border-radius: 15px; 
}

.about-shop__headline {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.about-shop__content {
  display: flex;
  flex-wrap: wrap;
}

.about-shop__item {
  width: 480px;
  margin-bottom: 0;
}


.about-shop__item {
  padding-left: 57px;
  margin-top: 22px;
}

.about-shop__item-3,
.about-shop__item-4 {
  padding-left: 85px;
}

.about-shop__item-1::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  left: 20px;
  top: 93px;
}

.about-shop__item-2::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  left: 20px;
  top: 181px;
}

.about-shop__item-3::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  right: 512px;
  top: 93px;
}

.about-shop__item-4::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/termo.svg");
  background-repeat: no-repeat;
  right: 512px;
  top: 181px;
}

.blog {
  width: 560px;
  min-height: 220px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  background-image: url("../img/blog.jpg")
  
}
.blog a {
  display: block;
  width: 285px;
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  margin-top: 10px;
  
}

.blog h3 {
  font-size: 16px;
  font-weight: 500;
  color: #323232;
  margin: 0;
}

.mailing {
  width: 560px;
  min-height: 220px;
  font-weight: 400;
  padding:35px 25px 0 25px;
  box-sizing: border-box;
  color: #5a5a5a;
  border-radius: 15px;
  background-color: #f8f7f4;
  background-image: url("../img/mailing.jpg")
}

.mailing p {
  width: 510px;
  margin: 0;
  margin-bottom: 35px;
}

.mailing__form input {
  width: 365px;
  height: 44px;
  margin: 0;
  margin-right: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
}

.button {
  font: inherit;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background: linear-gradient(to top, #e74a35, #f26843);
  box-sizing: border-box;
}

.button:hover,
.button:focus {
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient( 90deg, rgb(235, 98, 80) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0 #ac1000;
}

.button:active {
  background: linear-gradient(to bottom,#e74a35,#f26843);
  box-shadow: inset 0 1px 2px 0 #942718;
}

.mailing__button {
  width: 127px;
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 20px;
  border :none;
}


.contacts__button {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 252px;
  height: 44px;
  border: none;
  border-radius: 20px;
}

.slider-button {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
}

.social,
.gen-info,
.breadcrumbs,
.pagination-list {
  list-style: none;
}

.copyright__html-academy-logo {
  width: 108px;
}


.copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright p {
  margin: 0;
}

/* промо блоки */

.promo__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 560px;
  min-height: 229px;
  padding: 15px 20px;
}

.promo__item h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.promo__item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 15px 0;
}

.promo-block-1 {
  background-image: url("../img/promo-1.jpg");
  background-position: top -95px left -50px;
  border-radius: 15px;
  background-color: rgb(165, 47, 47);
}

.promo-block-2 {
  background-image: url("../img/promo-2.jpg");
  background-position: top -105px right -52px;
  border-radius: 15px;
  background-color: rgb(51, 13, 13);
}

.promo__button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  align-self: flex-end;
  padding: 11px 22px;
  border-radius: 25px;
  margin-top: auto;
  margin-bottom: 10px;
}


.site-nav__catalog_mod {
  padding: 7px 12px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  background-color: #d07058;
}


.working-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0;
  z-index: 1;
  
}

.working-info span:nth-of-type(1) {
  font-size: 14px;
  line-height: 16px;
}

.working-info span:nth-of-type(2) {
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}

.slider .slider__working-info {
  position: absolute;
  right: -50px;
  top: -4px;
}

/* карточки товара */

.gallery-container {
  margin-left: -26px;
}

.catalog-gallery {
  display: flex;
  flex-wrap: wrap;
}

.catalog-gallery__item {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 26px;
}

.catalog-gallery__item:before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  left: 0;
}

.catalog-gallery__item img {
  border-radius: 50%;
}

.catalog-gallery__item h3 {
  width: 260px;
  margin: 8px 0 0 5px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.catalog-gallery__item figure{
  margin: 0;
}

.catalog-gallery__button {
  display: none;
  position: absolute;
  left: 30px;
  bottom: -55px;
  width: 200px;
  height: 44px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px;
}

.catalog-gallery__item_hover {
  display: none;
  position: absolute;
  width: 293px;
  min-height: 405px;
  top: -5px;
  left: -13px;
  border-radius: 5px;
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  z-index: 1;
}

.catalog-gallery__item:hover .catalog-gallery__button,
.catalog-gallery__item:hover  .catalog-gallery__item_hover,
.catalog-gallery__item:focus,
.catalog-gallery__item:focus  {
  display: block;
}

.price-tag {
  position: absolute;
  bottom: 67px;
  left: 0;
  margin: 0;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);

}

.price-tag:after {
  content: "/кг";
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  
}


.price-tag span:nth-of-type(1) {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  word-spacing: -7px;
}

.price-tag span:nth-of-type(2) {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-left: -5px;
}

.pagination-list {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  width: 190px;
  justify-content: space-between;
  margin: 60px 0 30px auto;
  padding: 0;
}

.pagination-list__item a {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.pagination-list__item a[href]:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

.pagination-list__item a:not([href]) {
  background-color: #fff;
  color: #323232;
}




/*сетка*/

.main-header {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  z-index: 1;
}

.main-header__container {
  display: flex;
  align-items: center;
  min-width: 1146px;
  padding: 8px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  
}

.main-nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.user-nav {
  display: flex;
  margin-left: auto;
}


.site-nav {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 0;
  margin-left: 10px;
}




.user-nav> li {
  margin-left: 10px;
}


main {
  display: flex;
  width: 1146px;
  flex-direction: column;
  margin: 0 auto;
}

.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  z-index: 1;
}

.blog-mailing-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.catalog-main {
  border-bottom: 0.5px solid #fff;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1146px;
  margin: 0 auto;
  padding: 18px 0;
}

.map {
  position: relative;
  max-width: 1200px;
  min-width: 1146px;
  height: 430px;
  margin: 0 auto;
  padding: 0;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(247, 242, 242);
}


.contacts {
  position: absolute;
  width: 302px;
  min-height: 305px;
  font: inherit;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  background-color: #ffffff;
  color: #323232;
  border-radius: 15px;
  padding: 26px 25px;
  right: 27px;
  bottom: 62px;
  box-sizing: border-box;
}

.contacts__tel {
  color: #323232;
}

.contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-bold:nth-of-type(1) {
  display: block;
  margin:  0;
  margin-bottom: 15px;
}

.contacts-bold:nth-of-type(2) {
  display: block;
  margin: 5px 0 0 0;
}

.contacts__button {
  display: block;
  width: 252px;
  height: 44px;
  padding: 10px;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 23px;
}

.main-headline {
  
  font-size: 35px;
  line-height: 41px;
  margin-right: auto;
  margin-top: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*фильтры*/


.filter {
  display: flex;
  width: 885px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.filters fieldset {
  border: none;
  display: inline-block;
  padding: 0;
  margin-right: 14px;
  vertical-align: middle;
}
.filters legend {
  padding-left: 10px;
  padding-bottom: 5px;
}

.filter__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

 
.filter__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.filter__headline {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding-left: 17px;
}

.filter__sort {
  width: 194px;
  height: 37px;
  padding: 5px 15px;
}

.filter__price {
  width: 220px;
  height: 37px;
}

.filter__fat {
  width: 415px;
  height: 37px;
  padding: 10px 15px;
}

.filter__fat-radio {
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
}

.filter__fat-radio input[type="radio"] + .filter__fat-radio_indicator {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid  rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  left: 0;
  bottom: 0;
}

.filter__fat-radio input[type="radio"]:checked + .filter__fat-radio_indicator::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 3.5px;
  left: 3.2px;
}

.filter__fat-radio input[type="radio"]:checked + .filter__fat-radio_indicator:hover::after {
  background-color: #fff;
}

.filter__fat-radio input[type="radio"] + .filter__fat-radio_indicator:hover,
.filter__fat-radio input[type="radio"] + .filter__fat-radio_indicator:focus {
  border: 3px solid  #fff;
  border-radius: 50%;
}

.filter__filler {
  width: 703px;
  height: 37px;
  padding: 10px 15px;
}

.filter__filler-checkbox {
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
}

.filter__filler-checkbox input[type="checkbox"] + .filter__filler-checkbox_indicator {
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  left: 0;
}

.filter__filler-checkbox input[type="checkbox"]:checked + .filter__filler-checkbox_indicator::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: rotate(45deg);
  top: 7px;
  left: 2px;
}

.filter__filler-checkbox input[type="checkbox"]:checked + .filter__filler-checkbox_indicator::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: rotate(-45deg);
  top: 5px;
  left: 5px;
}

.filter__filler-checkbox input[type="checkbox"]:checked + .filter__filler-checkbox_indicator:hover::before,
.filter__filler-checkbox input[type="checkbox"]:checked + .filter__filler-checkbox_indicator:hover::after {
  background-color: #fff;
}

.filter__filler-checkbox input[type="checkbox"] + .filter__filler-checkbox_indicator:hover {
  border: 1.5px solid #fff;
  border-radius: 3px;
}

.filter__button {
  width: 144px;
  height: 37px;
  border: solid 2px #ffffff;
  margin-right: auto;
  margin-top: 27px;
  box-sizing: border-box;
}

.filter__button:hover,
.filter__button:focus {
  background-color: #fff;
  color: #323232;
}

.filter__button:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border: none;
}

.filter__sort:hover,
.filter__sort:focus {
  color: #323232;
  border: none;
}


/* слайдер */

.slider {
  position: relative;
  width: 1045px;
  height: 575px;
  left: 50px;
  top: 0;
}

.slide-block {
  z-index: 0;
}

.slides {
  top: -73px;
  position: absolute;
  
}


.slider__button {
  position: absolute;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500; 
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 10px 40px;
  border-radius: 40px;
  bottom: 280px;
  left: 383px;
  z-index: 2;
} 

.slides__headline {
  font-size: 60px;
  line-height: 60px;
  width: 670px;
  text-align: center;
  top: 333px;
  left: 187px;
}

.slides__headline{
  position: absolute;
}

.slide-block-1 {
  position: absolute;
}

.slide-block-2 {
 position: absolute;
 display: none;
}


.slide-block-3 {
 position: absolute;
 display: none;
}

.slide-checked {
  display: block;
}

.slide-none {
  display: none;
}



.slides-switches {
  display: flex;
  position: absolute;
  list-style: none;
  width: 60px;
  justify-content: space-between;
  padding: 0;
  left: -50px;
  bottom: 63px;
  z-index: 1;
}

.slide-radio {
  position: relative;
}

.slide-radio_indicator {
  margin-right: 8px
}

.slide-radio input[type="radio"] + .slide-radio_indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.slide-radio input[type="radio"]:checked + .slide-radio_indicator {
  background-color: #fff;
}

.slide-radio_indicator:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* кнопки, меню пользователя*/

.search{
  position: relative;
  width: 33px;
  height: 33px;
}

.search::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: -7px;
  right: 1px
}

.search:hover::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-image: url("../img/search-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: -7px;
  right: 1px;
  background-color: #f7f6f3;
}


.login-link{
  position: relative;
  padding: 6px 17px 6px 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-link::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  left: 15px;
}

.login-link:hover::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  background-image: url("../img/login-hover.svg");
  background-repeat: no-repeat;
  left: 15px;
}

.basket-link {
  position: relative;
  padding: 7px 17px 7px 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.basket-link::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  left: 15px;
}

.basket_catalog {
  background-color: #fff;
  color: #323232;
}

.basket_catalog::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/basket-full.svg");
  background-repeat: no-repeat;
  left: 15px;
}

.basket:hover .modal-basket {
  display: block;
}

/* модалки */

.user-nav__serach-form {
  position: relative;
}

.modal-search {
  display: none;
  width: 341px;
  height: 84px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  top: 30px;
  right: 0;
}

.modal-search input {
  font-size: 14px;
  line-height: 24px;
  width: 311px;
  height: 44px;
  border: solid 1px #d3d3d2;
  margin: 20px 15px;
  padding: 15px;
  border-radius: 5px;
}

.login {
  position: relative;
}

.modal-login {
  width: 277px;
  height: 214px;
  border-radius: 5.1px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  top: 30px;
  right: 0;
  
}

.modal-login input {
  width: 241px;
  height: 44px;
  font-size: 13px;
  line-height: 24px;
  color: #999999;
  margin: 20px 17px 0 19px;
  padding: 15px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
}

.login__button {
  width: 100px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-top: 20px;
  margin-left: 19px;
  border-radius: 20px;
  border: none;
}

.modal-loggin__container {
  display: flex;
}

.modal-login p {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 20px;
  padding: 0;
}

.modal-login a {
  width: 120px;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  margin-top: -5px;
}

.basket {
  position: relative;
}

.modal-basket {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 540px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  padding: 15px;
  top: 30px;
  right: 0;
  box-sizing: border-box;
}

.basket__table {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
}

.basket__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.basket__price {
  color: #999999;
}

.basket__item-info {
  width: 230px;
}

.basket-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.basket__total {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin: 15px 0;
}

.basket__button {
  width: 170px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  border-radius: 20px;
  border: none;
}

.modal-feedback {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 478px;
  height: 443;
  padding: 15px 25px 25px;
  border-radius: 10px;
  background-color: #f8f7f4;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-left: -232px;
  margin-top: -221px;
}

.modal-feedback__headline {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  margin: 0;
  margin-bottom: 20px;
}

.modal-feedback input {
  width: 267px;
  height: 44px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.modal-feedback textarea {
  max-width: 428px;
  height: 155px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.modal-feedback__button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  width: 139px;
  height: 44px;
  border: none;
  border-radius: 20px;
  margin-top: 25px;
  margin-left: auto;
  
} 

 .modal-feedback__close {
  position: absolute;
  width: 22px;
  height: 22px;
  border: 0;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f7f4;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

@keyframes feedback {
  0% {
    transform: scale(0.1);
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

@keyframes feedbackeror {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes overlay-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.overlay-show{
  display: block;
  animation: overlay-show 0.4s;
}

.modal {
  display: none;
}

.modal-feedback_show {
  display: flex;
  animation: feedback  0.4s;
}

.feedback-eror {
  animation: feedbackeror 0.6s;
}

.user-nav__item:hover> .modal {
  display: block;
}

input:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}
/* футер */

.social {
  display: flex;
  position: relative;
  width: 148px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  bottom: 10px;
}

.social__twitter::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

}

.social__instagram::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../img/insta.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
 
}

.social__facebook::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  
}

.social__vk::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  
}

.social__twitter:hover::before,
.social__instagram:hover::before,
.social__facebook:hover::before,
.social__vk:hover::before,
.social__twitter:focus::before,
.social__instagram:focus::before,
.social__facebook:focus::before,
.social__vk:focus::before {
  opacity: 1;
}

.social__twitter:active::before,
.social__instagram:active::before,
.social__facebook:active::before,
.social__vk:active::before {
  border-color: rgba(255, 255, 255);
  opacity: 0.8;
}


.gen-info {
  position: relative;
  column-count: 2;
  column-gap: 0px;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  top: 10px;
  margin-left: 10px;
}

.gen-info li {
 margin-right: -22px;
 margin-bottom: 5px;
}

.gen-info li:first-child {
  font-weight: bold;
}

.gen-info li:first-child::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  left: -22px;
  top: 3px;
}

.gen-info a,
.copyright a:last-child {
  border-bottom: 0.5px solid #fff;
}