body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

.body-background-2 {
  background-color: #8996a6;
}

.body-background-3 {
  background-color: #9d8b84;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.border-mixin {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0));
  background-position: 1% 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

.site-nav li:first-child {
  position: relative;
}

.site-nav a:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-nav__sub-menu {
  display: none;
  position: absolute;
  width: 143px;
  font-size: 14px;
  line-height:  16px;
  text-align: left;
  color: #323232;
  padding: 10px 0px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  box-sizing: border-box;
  text-indent: 15px;
  top: 36px;
  left: -7px;
  z-index: 1;
}

.site-nav__sub-menu li {
  list-style: none;
}

.site-nav__sub-menu_border::after {
  content: "";
  display: block;
  position: absolute;
  width: 128px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  top: 25px;
  left: 6px;
}

.site-nav__sub-menu li:first-child {
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 5px;
}

.site-nav__sub-menu a {
  display: block;
  padding: 7px 5px;
  font-weight: 400;
  color: #323232;
}

.sub-menu-link:hover {
  background-color: #fbded7;
  box-shadow: 0;
}

.site-nav__sub-menu a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.site-nav li:hover>ul{
  display: block;
}

.modal {
  position: absolute;
  z-index: 5;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-header__logo {
  width: 154px;
  height: 64px;
}

.main-header__logo-link {
  height: 64px;
}

.main-nav {
  font-weight: bold;
  line-height: 18px;
}

.site-nav,
.user-nav {
  list-style: none;
  font-size: 14px;
}

.site-nav>li,
.user-nav>li {
  height: 40px;
}

.site-nav>li {
  margin-right: 2px;
}

.site-nav_current {
  display: block;
  padding: 7px 13px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  background-color: #d07058;
}

.site-nav .sub-menu_current {
  background-color: #d07058;
  color: #fff;
}

.pink-hover:hover,
.pink-hover:focus {
  color: #ffbc9e;
  cursor: pointer;      
}

.red-hover:hover,
.red-hover:focus,
.red-hover:active {
  color: #e84d37;
}

.site-nav  .main-header__link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  padding: 7px 13px;  
  border-radius: 20px;
}

.main-header__link:hover,
.main-header__link:focus {
  color: #323232;
  background-color: #f7f6f3;
}

/* подчеркивание ссылок */

.site-nav li,
.breadcrumbs li {
  position: relative;
}

.about-shop {
  position: relative;
  width: 1146px;
  margin-bottom: 40px;
  padding: 25px 20px;
  box-sizing: border-box;
  color: #323232;
  background-color: #ece0c5;
  background-image: url("../img/wafer.jpg");
  background-repeat: repeat;
  border-radius: 15px; 
}

.about-shop__headline {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.about-shop__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-shop__item {
  position: relative;
  width: 480px;
  margin-bottom: 0;
}


.about-shop__item {
  padding-left: 57px;
  margin-top: 22px;
}

.about-shop__item-1::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  left: 0;
  top: -13px;
}

.about-shop__item-2::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  left: 0;
  top: -13px;
}

.about-shop__item-3::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  left: 0;
  top: -13px;
}

.about-shop__item-4::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/termo.svg");
  background-repeat: no-repeat;
  left: 0;
  top: -13px;
}

.blog {
  width: 560px;
  min-height: 220px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  background-image: url("../img/blog.jpg");
  background-position: -50px -225px;
  background-repeat: no-repeat;
}

.blog a {
  display: block;
  width: 285px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
  margin-top: 10px;  
}

.blog h3 {
  font-size: 16px;
  font-weight: 500;
  color: #323232;
  margin: 0;
}

.mailing-background {
  display: flex;
  width: 560px;
  min-height: 220px;
  padding: 5px;
  border-radius: 17px;
  background-image: repeating-linear-gradient(-45deg, #f8f7f4 0, #f8f7f4 8px, #92cdff  8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
}

.mailing {
  width: 100%;
  height: 100%;
  font-weight: 400;
  margin: auto;
  padding: 35px 25px;
  color: #5a5a5a;
  border-radius: 15px;
  background-color: #f8f7f4;
  box-sizing: border-box;
}

.mailing p {
  width: 510px;
  margin: 0;
  margin-bottom: 35px;
}

.mailing__form input {
  font-size: 16px;
  line-height: 24px;
  width: 365px;
  height: 44px;
  margin: 0;
  margin-right: 10px;
  padding: 9px 15px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
}

.button {
  font: inherit;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background: linear-gradient(to top, #e74a35, #f26843);
  box-sizing: border-box;
}

.button:hover,
.button:focus {
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient( 90deg, rgb(235, 98, 80) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0 #ac1000;
}

.button:active {
  background: linear-gradient(to bottom,#e74a35,#f26843);
  box-shadow: inset 0 1px 2px 0 #942718;
}

.mailing__button {
  width: 127px;
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 20px;
  border :none;
}

.contacts__button {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 252px;
  height: 44px;
  border: none;
  border-radius: 20px;
}

.slider-button {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
}

.social,
.gen-info,
.breadcrumbs,
.pagination-list {
  list-style: none;
}

/* промо блоки */



.promo__item {
  display: flex;
  flex-direction: column;
  flex-basis: 560px;
  max-width: 560px;
  min-height: 229px;
  margin-left: 26px;
  margin-bottom: 40px;
  padding: 15px 20px;
  box-sizing: border-box;
}

.promo__item h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.promo__item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 15px 0;
}

.promo-block-1 {
  background-image: url("../img/promo-1.jpg");
  background-position: top -95px left -50px;
  border-radius: 15px;
  background-color: rgb(165, 47, 47);
}

.promo-block-2 {
  background-image: url("../img/promo-2.jpg");
  background-position: top -105px right -52px;
  border-radius: 15px;
  background-color: rgb(51, 13, 13);
}

.promo__button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  align-self: flex-end;
  padding: 11px 22px;
  border-radius: 25px;
  margin-top: auto;
  margin-bottom: 10px;
}

.working-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0;
  top: 100%;
  right: 0;
  z-index: 1;
}

.working-info span:nth-of-type(1) {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.working-info span:nth-of-type(2) {
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}

.slider .slider__working-info {
  position: absolute;
  right: -50px;
  top: -4px;
}

/* карточки товара */

.gallery-container {
  margin-left: -26px;
}

.catalog-gallery {
  display: flex;
  flex-wrap: wrap;
}

.catalog-gallery__item {
  position: relative;
  text-align: center;
  margin-bottom: 29px;
  margin-left: 26px;
  z-index: 1;
}

.hit:before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  left: 0;
}

.catalog-gallery__item img {
  border-radius: 50%;
}

.catalog-gallery__item h3 {
  width: 260px;
  margin: 8px auto;
  font-size: 16px;
  font-weight: 500;
}

.catalog-gallery__item figure {
  margin: 0;
}

.catalog-gallery__button {
  display: none;
  position: absolute;
  left: 30px;
  bottom: -55px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 17px;
}

.catalog-gallery__item_hover {
  display: none;
  position: absolute;
  width: 293px;
  height: calc(100% + 70px);
  top: -5px;
  left: -13px;
  border-radius: 5px;
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  z-index: -1;
}

.catalog-gallery__item:hover {
  z-index: 2;
}

.catalog-gallery__item:hover .catalog-gallery__button,
.catalog-gallery__item:hover  .catalog-gallery__item_hover,
.catalog-gallery__item:focus,
.catalog-gallery__item:focus  {
  display: block;
}

.price-tag {
  position: absolute;
  top: 208px;
  left: 0;
  margin: 0;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price-tag:after {
  content: "/кг";
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.price-tag span:nth-of-type(1) {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  word-spacing: -7px;
}

.price-tag span:nth-of-type(2) {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-left: -5px;
}

.pagination-list {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  width: 190px;
  justify-content: space-between;
  margin: 43px 0 30px auto;
  padding: 0;
}

.pagination-list__item a {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.pagination-list__back {
  position: relative;
  display: block;
  width: 25px;
  height: 26px;
}

.pagination-list__back::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #fff;
  transform: rotate(-45deg);
  top: 10px;
  left: 0;
}

.pagination-list__back::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
  top: 16px;
  left: 0rem;
}

.pagination-list__forward {
  position: relative;
  display: block;
  width: 25px;
  height: 26px;
}

.pagination-list__forward::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
  top: 10px;
  right: 0;
}

.pagination-list__forward::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #fff;
  transform: rotate(-45deg);
  top: 16px;
  right: 0;
}

.pagination-list_edge {
  opacity: 0.8;
}

.pagination-list__item a:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

.pagination-list__item:nth-child(2) a,
.pagination-list__item a:active {
  background-color: #fff;
  color: #323232;
}

/*сетка*/

.main-header {
  position: relative;
  width: 1146px;
  margin: 0 auto;
}

.main-header__container {
  display: flex;
  min-width: 1146px;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  width: 100%;
}

.user-nav {
  display: flex;
  margin-left: auto;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  position: relative;
  padding-left: 0;
  margin-left: 10px;
}

.user-nav> li {
  margin-left: 10px;
}

main {
  display: flex;
  width: 1146px;
  flex-direction: column;
  margin: 0 auto;
}

.promo-container {
  margin-left: -26px;
}

.promo {
  display: flex;
  flex-wrap: wrap;
}

.blog-mailing-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-main {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.main-footer {
  display: flex;
  width: 1146px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.map {
  position: relative;
  max-width: 1200px;
  min-width: 1146px;
  height: 430px;
  margin: 0 auto;
  padding: 0;
  background-color: #849d8f;
  background-color: rgb(247, 242, 242);
}

.contacts {
  position: absolute;
  width: 302px;
  min-height: 305px;
  font: inherit;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  background-color: #ffffff;
  color: #323232;
  border-radius: 15px;
  padding: 26px 25px;
  right: 27px;
  top: 62px;
  box-sizing: border-box;
}

.contacts__tel {
  color: #323232;
}

.contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-bold:nth-of-type(1) {
  display: block;
  margin:  0;
  margin-bottom: 15px;
}

.contacts-bold:nth-of-type(2) {
  display: block;
  margin: 5px 0 0 0;
}

.contacts__button {
  display: block;
  width: 252px;
  height: 44px;
  padding: 10px;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 23px;
}

.main-headline {
  font-size: 35px;
  line-height: 41px;
  margin-right: auto;
  margin: 0;
  margin-top: 5px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs li {
  padding-right: 1em;
  margin-right: 0.6em;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  right: 0;
  top: 0;
}

.breadcrumbs li:last-child::after {
  content: none;
}

.breadcrumbs__item:last-child .border-mixin {
  background-image: none;
}

/*фильтры*/

.filters {
  margin-top: 25px;
  margin-bottom: 25px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.filters fieldset {
  
  border: none;
  display: inline-block;
  padding: 0;
  margin-right: 14px;
  vertical-align: middle;
}

.filters legend {
  
  font-size: 14px;
  line-height: 16px;
  text-indent: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.filter__item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border: none;
}

.filter__headline {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding-left: 17px;
}

.filter__sort {
  width: 185px;
  height: 37px;
  text-indent: 7px;
  padding: 8px 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: 0;
}

.filter-sort-background {
  position: relative;
  width: 194px;
  padding: 0;
}

.filter-sort-background::after {
  content: "▼";
  position: absolute;
  width: 38px;
  height: 29px;
  padding: 7px;
  background-color: rgb(157, 176, 165);
  border-radius: 50%;
  right: 5px;
  top: 4px;
  box-sizing: border-box;
}

.filter-sort-background:hover::after,
.filter-sort-background:hover .filter__sort,
.filter-sort-background:focus .filter-sort {
  color: #323232;
  border: none;
}

.filter-price-container {
  position: relative;
  width: 220px;
  height: 37px;
  text-align: center;
}

.filter-price {
  width: 176px;
  height: 37px;
  opacity: 0;
}

.filter-price-range {
  position: absolute;
  width: 176px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 17px;
  left: 20px;
}

.filter-price-range_selected {
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #fff;
  top: 17px;
  left: 50px;
}

.filter-price-min {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(194, 194, 194);
  box-shadow: inset 0 0 0 8px #ffffff;
  border-radius: 50%;
  top: 8px;
  left: 30px;
  cursor: pointer;
}

.filter-price-max {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(194, 194, 194);
  box-shadow: inset 0 0 0 8px #ffffff;
  border-radius: 50%;
  top: 8px;
  right: 60px;
  cursor: pointer;
}

.filter-price-min:hover,
.filter-price-max:hover {
  transform: scale(1.1); 
}

.filter__fat-radio {
  position: relative;
  padding-left: 30px;
  margin-right: 13px;
}

.filter__fat-input + .filter__fat-radio_indicator {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid  rgb(234, 240, 237);
  border-radius: 50%;
  left: 0;
  bottom: -1px;
}

.filter__fat-input:checked + .filter__fat-radio_indicator {
  box-shadow: inset 0 0 0 3px rgb(151, 179, 165);
  background-color: rgb(234, 240, 237);
}

.filter__fat-input:checked + .filter__fat-radio_indicator:hover {
  background-color: #fff;
}

.filter__fat-input + .filter__fat-radio_indicator:hover,
.filter__fat-input + .filter__fat-radio_indicator:focus {
  border: 3px solid  #fff;
  border-radius: 50%;
}

.filter__filler {
  width: 703px;
  height: 37px;
  padding: 10px 15px;
}

.filter__filler-checkbox {
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
}

.filter__filler-checkbox:last-child {
  margin-right: 0;
}

.filter__filler-input + .filter__filler-checkbox_indicator {
  position: absolute;
  width: 17px;
  height: 17px;
  border: 2px solid rgb(234, 240, 237);
  border-radius: 3px;
  left: 0;
  top: 0;
}

.filter__filler-input:checked + .filter__filler-checkbox_indicator::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 3px;
  background-color: rgb(234, 240, 237);
  transform: rotate(45deg);
  top: 8px;
  left: 2px;
}

.filter__filler-input:checked + .filter__filler-checkbox_indicator::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 3px;
  background-color: rgb(234, 240, 237);
  box-shadow: 0 0 0 1px rgb(151, 179, 165);
  transform: rotate(-45deg);
  top: 5px;
  left: 5px;
}

.filter__filler-input:checked + .filter__filler-checkbox_indicator:hover::before,
.filter__filler-input:checked + .filter__filler-checkbox_indicator:hover::after {
  background-color: #fff;
}

.filter__filler-input + .filter__filler-checkbox_indicator:hover {
  border-color:  #fff;
  border-radius: 3px;
}

.filter__button {
  padding: 8px 30px;
  border: solid 2px #ffffff;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 20px;
}

.filter__button:hover,
.filter__button:focus {
  background-color: #fff;
  color: #323232;
}

.filter__button:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border: none;
}


/* слайдер */

.slider {
  position: relative;
  padding-bottom: 40px;
}

.slide-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__image {
  position: absolute;
  top: -78px;
  left: 50px;
  z-index: -1;
}

.slider__button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500; 
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 10px 40px;
  border-radius: 40px;
  bottom: 280px;
  left: 383px;
} 

.slide-block__headline {
  font-size: 60px;
  line-height: 60px;
  width: 675px;
  text-align: center;
  margin-top: 318px;
  margin-bottom: 27px;
}

.slide-block-2 {
 display: none;
}


.slide-block-3 {
 display: none;
}

.slide-checked {
  display: flex;
}

.slide-none {
  display: none;
}

.slides-switches {
  display: flex;
  position: absolute;
  list-style: none;
  width: 60px;
  justify-content: space-between;
  padding: 0;
  bottom: 63px;
}

.slide-radio {
  position: relative;
}

.slide-radio_indicator {
  margin-right: 8px
}

.slide-radio input[type="radio"] + .slide-radio_indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.slide-radio input[type="radio"]:checked + .slide-radio_indicator {
  background-color: #fff;
}

.slide-radio_indicator:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* кнопки, меню пользователя*/

.search{
  display: block;
  position: relative;
  width: 33px;
  height: 33px;
}

.search::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search:hover::before,
.search:focus::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-image: url("../img/search-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-color: #f7f6f3;
}

.login-link{
  display: block;
  position: relative;
  padding: 7px 20px 7px 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-link::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  left: 15px;
}

.login-link:hover::before,
.login-link:focus::before {
  background-image: url("../img/login-hover.svg");
}

.basket-link {
  display: block;
  position: relative;
  padding: 7px 20px 7px 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.basket-link::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  left: 15px;
}

.basket_catalog {
  background-color: #fff;
  color: #323232;
}

.basket_catalog::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/basket-full.svg");
  background-repeat: no-repeat;
  left: 15px;
}

.basket:hover .modal-basket {
  display: block;
}

/* модалки */

.user-nav__serach-form {
  position: relative;
}

.modal-search {
  display: none;
  width: 341px;
  height: 84px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  top: 36px;
  right: 0;
}

.modal-search input {
  font-size: 14px;
  line-height: 24px;
  width: 311px;
  height: 44px;
  border: solid 1px #d3d3d2;
  margin: 20px 15px;
  padding: 9px 15px;
  border-radius: 5px;
  box-sizing: border-box;
}

.login {
  position: relative;
}

.modal-login {
  width: 277px;
  height: 214px;
  border-radius: 5.1px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  top: 36px;
  right: 0;
}

.modal-login input {
  width: 241px;
  height: 44px;
  font-size: 14px;
  line-height: 24px;
  margin: 20px 17px 0 19px;
  padding: 9px 15px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
}

.login__button {
  width: 100px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-top: 20px;
  margin-left: 19px;
  border-radius: 20px;
  border: none;
}

.modal-login__container {
  display: flex;
}

.modal-login p {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 20px;
  padding: 0;
}

.modal-login a {
  width: 120px;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  margin-top: -5px;
}

.basket {
  position: relative;
}

.modal-basket {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  width: 540px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  padding: 15px;
  top: 36px;
  right: 0;
  box-sizing: border-box;
}

.basket__table {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
}

.basket__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket__price {
  color: #999999;
}

.basket__item-info {
  width: 230px;
}

.basket-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.basket__total {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin: 15px 0;
}

.basket__button {
  width: 170px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  border-radius: 20px;
  border: none;
}

.modal-feedback {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 478px;
  height: 443;
  padding: 15px 25px 25px;
  border-radius: 10px;
  background-color: #f8f7f4;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-left: -232px;
  margin-top: -221px;
}

.modal-feedback__headline {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  margin: 0;
  margin-bottom: 20px;
}

.modal-feedback input {
  width: 267px;
  height: 44px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  padding: 9px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.modal-feedback textarea {
  max-width: 428px;
  height: 155px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.modal-feedback__button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  width: 139px;
  height: 44px;
  border: none;
  border-radius: 20px;
  margin-top: 25px;
  margin-left: auto;
  
} 

 .modal-feedback__close {
  position: absolute;
  width: 22px;
  height: 22px;
  border: 0;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f7f4;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

@keyframes feedback {
  0% {
    transform: scale(0.1);
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

@keyframes feedbackeror {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes overlay-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.overlay-show{
  display: block;
  animation: overlay-show 0.4s;
}

.modal {
  display: none;
}

.modal-feedback_show {
  display: flex;
  animation: feedback  0.4s;
}

.feedback-eror {
  animation: feedbackeror 0.6s;
}

.user-nav__item:hover> .modal {
  display: block;
}

input::placeholder {
  color: #999999;
}

input:hover,
textarea:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

/* футер */

.social {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 200px;
  margin: 0;
  margin-top: 32px;
  padding: 0;
}

.social a {
  display: block;
  font-size: 0;
  width: 35px;
  height: 35px;
}

.social li {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 14px;
  margin-bottom: 10px;
}


.social li:last-child {
  margin-right: 0;
}

.social__item {
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social__item:hover,
.social__item:focus {
  opacity: 1;
}

.social__item:active {
  border-color: rgba(255, 255, 255);
  opacity: 0.8;
}

.gen-info__first-child {
  position: relative;
  font-weight: bold;
}

.gen-info__first-child:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  left: -22px;
  top: 2px;
}

.gen-info {
  display: flex;
  margin: 0 auto;
  margin-top: 3px;
}

.gen-info ul {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.gen-info ul:first-child {
  margin-left: 23px;
  margin-right: 30px;
}

.gen-info li {
  margin-bottom: 4px;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 17px;
  margin-left: 35px;
  margin-right: 5px;
}

.copyright__logo-link {
  display: block;
  width: 108px;
  height: 37px;
}

.copyright__html-academy-logo {
  width: 108px;
}

.copyright p {
  margin: 0;
  margin-top: 5px;
}
